:root {
  --color-grey: #f5f5f5;
  --color-grey-blue: #969db2;
  --color-grey-blue-opacity: rgba(150, 157, 178, 0.4);
  --color-dark-blue: #21294b;
  --color-light-blue: #558be6;
  --color-blue: #004ccf;
  --color-red: #ef3f40;
  --color-green: #4bb795;
  --color-yellow: #f5a43f;
}
