@font-face {
  font-family: 'GTHaptik';
  src: url('../fonts/GTHaptikMedium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GTHaptikMedium.otf')  format('opentype'),
       url('../fonts/GTHaptikMedium.woff') format('woff'),
       url('../fonts/GTHaptikMedium.ttf')  format('truetype'),
       url('../fonts/GTHaptikMedium.svg#GTHaptikMedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GTHaptik';
  src: url('../fonts/GTHaptikMediumRotalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GTHaptikMediumRotalic.otf')  format('opentype'),
       url('../fonts/GTHaptikMediumRotalic.woff') format('woff'),
       url('../fonts/GTHaptikMediumRotalic.ttf')  format('truetype'),
       url('../fonts/GTHaptikMediumRotalic.svg#GTHaptikMediumRotalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GTHaptik';
  src: url('../fonts/GTHaptikBlack.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GTHaptikBlack.otf')  format('opentype'),
       url('../fonts/GTHaptikBlack.woff') format('woff'),
       url('../fonts/GTHaptikBlack.ttf')  format('truetype'),
       url('../fonts/GTHaptikBlack.svg#GTHaptikBlack') format('svg');
  font-weight: 900;
  font-style: normal;
}
