@import '../partials/base';

:root {
  --type-family-body: 'GTHaptik', -apple-system, BlinkMacSystemFont, sans-serif;
  --type-family-headline: 'GTHaptik', -apple-system, BlinkMacSystemFont, sans-serif;

  --type-size-regular: 16px;

  --type-weight-body: 500;
  --type-weight-headline: 900;
}
