.speech {
  display: flex;

  align-items: center;

  flex-grow: 1;
}

.bar {
  position: relative;

  z-index: 1;

  width: 100%;

  padding: 0 var(--size-padding-horizontal);

  text-align: right;

  color: var(--color-red);

  button {
    --button-padding: calc(var(--size-padding-vertical) / 2);
    --button-margin: 0;
  }
}

.thumbs {
  position: absolute;

  right: calc(var(--size-padding-horizontal) + var(--size-border-radius));
  left: calc(var(--size-padding-horizontal) + var(--size-border-radius));
  bottom: var(--size-padding-vertical);
}

.interactive {
  position: relative;

  z-index: 2;

  flex-basis: auto;

  --padding-content-bottom: 50px;
  --padding-content-top: 10px;
  --padding-top: 0;
}

.form {
  padding: 15px 0;

  input {
    margin-bottom: 5px;

    outline: none;
  }
}
