:root {
  --svg-width: 100%;
  --svg-height: 100%;
}

.wrap {
  position: relative;

  display: inline-block;

  width: var(--svg-width);
  height: var(--svg-height);

  svg {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}

.small {
  --svg-width: 16px;
  --svg-height: 16px;
}

.medium {
  --svg-width: 24px;
  --svg-height: 24px;
}

.large {
  --svg-width: 36px;
  --svg-height: 36px;
}
