@import '~normalize.css';

@import 'vars/fonts';
@import 'vars/type';
@import 'vars/colors';
@import 'vars/sizes';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--type-family-body);
  font-weight: var(--type-weight-body);
  font-size: var(--type-size-regular);

  background-color: var(--color-grey);
  color: var(--color-dark-blue);
}

input,
select,
textarea {
  font-family: inherit;

  color:inherit;
}
