.speech {
  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  padding: var(--size-padding-horizontal);

  color: inherit;

  span {
    font-size: var(--type-size-large);

    white-space: pre;
  }

  .highlight {
    display: block;

    flex-basis: 100%;

    text-align: center;
    font-size: var(--type-size-x-large);
  }
}
